<p id="notice"><%= notice %></p>

<h2>Following</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.first_name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>
<br>

<h2>Followed by</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= h user.first_name %></li>
  <% end %>
</ul>
