<div style="background-color: #F0F8FF;">
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="post_status">
    <%= f.input :status %>
  </div>

    <input type="submit", name="commit", value="Post", class="btn", id="post_button">
    
</div>

<% end %>
<br>
